:root {
  --colour-fhyd: #f76867;
  --colour-tang: #ed812d;
  --colour-duri: #d5c31f;
  --colour-poml: #92a834;
  --colour-tiff: #15bfb0;
  --colour-coco: #2742a5;
  --colour-plum: #928dc2;
  --colour-flam: #f86bd9;
  --colour-lamp-note: lime;
  --colour-lamp-cc: pink;
  --colour-lamp-at: yellow;
  --colour-lamp-pb: aqua;
  --space: 0.33em;
  --border-radius: 0.75em;
  --icon-live: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 25"><defs><style> .cls-1 { mix-blend-mode: hard-light; opacity: .5; } .cls-2 { isolation: isolate; } .cls-3 { fill: %23f2f2f2; fill-rule: evenodd; } .cls-4 { mix-blend-mode: luminosity; } </style></defs><g class="cls-2"><g id="Ebene_1" data-name="Ebene 1"><g id="Live_FHYD" data-name="Live FHYD"><g id="app-icon-live" class="cls-4"><g class="cls-1"><path class="cls-3" d="M5.14,21.71c0,.17-.14.29-.29.29h-2.04c-.17,0-.31-.12-.31-.29V3.29c0-.12.14-.26.31-.26h2.04c.14,0,.29.14.29.26v18.42h0ZM10.48,21.71c0,.17-.14.29-.29.29h-2.04c-.17,0-.31-.12-.31-.29V3.29c0-.12.14-.26.31-.26h2.04c.14,0,.29.14.29.26v18.42h0ZM15.83,21.71c0,.17-.14.29-.29.29h-2.04c-.17,0-.31-.12-.31-.29V3.29c0-.12.14-.26.31-.26h2.04c.14,0,.29.14.29.26v18.42ZM21.19,21.71c0,.17-.14.29-.28.29h-2.04c-.17,0-.31-.12-.31-.29V3.29c0-.12.14-.26.31-.26h2.04c.14,0,.28.14.28.26v18.42ZM42.22,3c.17,0,.28.15.28.29v2.08c0,.17-.12.31-.28.31h-18.12c-.12,0-.26-.14-.26-.31v-2.08c0-.14.14-.29.26-.29,0,0,18.12,0,18.12,0ZM42.22,8.46c.17,0,.28.15.28.29v2.08c0,.17-.12.31-.28.31h-18.12c-.12,0-.26-.15-.26-.31v-2.08c0-.15.14-.29.26-.29h18.12ZM42.22,13.89c.17,0,.28.14.28.29v2.08c0,.17-.12.32-.28.32h-18.12c-.12,0-.26-.14-.26-.32v-2.08c0-.15.14-.29.26-.29h18.12ZM42.22,19.32c.17,0,.28.15.28.29v2.08c0,.17-.12.31-.28.31h-18.12c-.12,0-.26-.14-.26-.31v-2.08c0-.14.14-.29.26-.29h18.12Z"/></g></g></g></g></g></svg>');
  --icon-reason: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><defs><style> .cls-1 { fill: %23fff; fill-rule: evenodd; } .cls-2 { mix-blend-mode: hard-light; opacity: .5; } .cls-3 { isolation: isolate; } </style></defs><g class="cls-3"><g id="Ebene_1" data-name="Ebene 1"><g id="Reason"><g class="cls-2"><path class="cls-1" d="M4.96,7.05l6.58-3.79c.59-.34,1.31-.34,1.9-.01h.02s6.58,3.81,6.58,3.81c.59.34.95.96.96,1.63v7.61c0,.68-.36,1.3-.94,1.65h-.02s-6.58,3.8-6.58,3.8c-.59.34-1.31.34-1.9.01h-.02s-6.58-3.81-6.58-3.81c-.59-.34-.95-.96-.96-1.63v-7.61c0-.68.36-1.3.94-1.65h.02s6.58-3.8,6.58-3.8l-6.58,3.79ZM12.5,6.19l-5.48,3.16v6.31l5.48,3.16v-6.31l5.48-3.16-5.48-3.16Z"/></g></g></g></g></svg>');
}

@font-face {
  font-family: "YanoneKaffeesatz-Bold";
  src: url("./fonts/YanoneKaffeesatz-Bold.woff2");
}

@font-face {
  font-family: "YanoneKaffeesatz-ExtraLight";
  src: url("./fonts/YanoneKaffeesatz-ExtraLight.woff2");
}

@font-face {
  font-family: "YanoneKaffeesatz-Light";
  src: url("./fonts/YanoneKaffeesatz-Light.woff2");
}

@font-face {
  font-family: "YanoneKaffeesatz-Medium";
  src: url("./fonts/YanoneKaffeesatz-Medium.woff2");
}

@font-face {
  font-family: "YanoneKaffeesatz-Regular";
  src: url("./fonts/YanoneKaffeesatz-Regular.woff2");
}

@font-face {
  font-family: "YanoneKaffeesatz-SemiBold";
  src: url("./fonts/YanoneKaffeesatz-SemiBold.woff2");
}

body {
  font-family: YanoneKaffeesatz-Regular, sans-serif;
  margin: 0;
  padding: var(--space);
  overflow: hidden;
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(9, 3fr 1fr);
  grid-column-gap: var(--space);
  grid-row-gap: var(--space);
  width: calc(100vw - var(--space) * 2);
  height: calc(100vh - var(--space) * 2);
}

.inactive {
  opacity: 0.33;
}

.slot {
  cursor: default;
  user-select: none;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 0;
  color: white;
  white-space: nowrap;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.reason-label {
  margin-right: 0.2em;
}

@media (max-width: 799px) {
  :root {
    --space: 0.1em;
    --border-radius: 0.25em;
  }
  .slot {
    font-family: YanoneKaffeesatz-Bold, sans-serif;
    font-size: 2em;
    background-position-x: center;
  }
  .label {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .slot {
    letter-spacing: 0.025em;
    font-size: 1.1em;
  }
  .sketch-number {
    font-size: 1.7em;
  }
}

@media (min-width: 1200px) {
  :root {
    --space: 0.4em;
    --border-radius: 0.75em;
  }
  .slot {
    font-family: YanoneKaffeesatz-SemiBold, sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.6em;
  }
  .sketch-number {
    font-size: 2em;
  }
}

.slot-fhyd {
  background-color: var(--colour-fhyd);
}

.slot-tang {
  background-color: var(--colour-tang);
}

.slot-duri {
  background-color: var(--colour-duri);
}

.slot-poml {
  background-color: var(--colour-poml);
}

.slot-tiff {
  background-color: var(--colour-tiff);
}

.slot-coco {
  background-color: var(--colour-coco);
}

.slot-plum {
  background-color: var(--colour-plum);
}

.slot-flam {
  background-color: var(--colour-flam);
}

.slot-live {
  background-image: var(--icon-live);
}

.lamp-note {
  border: 1px solid var(--colour-lamp-note);
  border-radius: 0 0 0 var(--border-radius);
}

.lamp-note-lit {
  background-color: var(--colour-lamp-note);
}

.lamp-cc {
  border: 1px solid var(--colour-lamp-cc);
}

.lamp-cc-lit {
  background-color: var(--colour-lamp-cc);
}

.lamp-at {
  border: 1px solid var(--colour-lamp-at);
}

.lamp-at-lit {
  background-color: var(--colour-lamp-at);
}

.lamp-pb {
  border: 1px solid var(--colour-lamp-pb);
  border-radius: 0 0 var(--border-radius) 0;
}

.lamp-pb-lit {
  background-color: var(--colour-lamp-pb);
}

.lamp-lit-note {
  background-color: var(--colour-lamp-note);
  border-radius: 0 0 0 var(--border-radius);
}

.lamp-lit-cc {
  background-color: var(--colour-lamp-cc);
}

.lamp-lit-at {
  background-color: var(--colour-lamp-at);
}

.lamp-lit-pb {
  background-color: var(--colour-lamp-pb);
  border-radius: 0 0 var(--border-radius) 0;
}

.slot-reason {
  background-image: var(--icon-reason);
}

/* row 1: Live slots */

#slot-fhyd-live {
  grid-area: 1 / 1 / 2 / 5;
}

#slot-tang-live {
  grid-area: 1 / 5 / 2 / 9;
}

#slot-duri-live {
  grid-area: 1 / 9 / 2 / 13;
}

#slot-poml-live {
  grid-area: 1 / 13 / 2 / 17;
}

#slot-tiff-live {
  grid-area: 1 / 17 / 2 / 21;
}

#slot-coco-live {
  grid-area: 1 / 21 / 2 / 25;
}

#slot-plum-live {
  grid-area: 1 / 25 / 2 / 29;
}

#slot-flam-live {
  grid-area: 1 / 29 / 2 / 33;
}

/* row 2: Live lamps */

#lamp-fhyd-live-note {
  grid-area: 2 / 1 / 3 / 2;
}

#lamp-fhyd-live-cc {
  grid-area: 2 / 2 / 3 / 3;
}

#lamp-fhyd-live-at {
  grid-area: 2 / 3 / 3 / 4;
}
#lamp-fhyd-live-pb {
  grid-area: 2 / 4 / 3 / 5;
}
#lamp-tang-live-note {
  grid-area: 2 / 5 / 3 / 6;
}

#lamp-tang-live-cc {
  grid-area: 2 / 6 / 3 / 7;
}

#lamp-tang-live-at {
  grid-area: 2 / 7 / 3 / 8;
}

#lamp-tang-live-pb {
  grid-area: 2 / 8 / 3 / 9;
}

#lamp-duri-live-note {
  grid-area: 2 / 9 / 3 / 10;
}

#lamp-duri-live-cc {
  grid-area: 2 / 10 / 3 / 11;
}

#lamp-duri-live-at {
  grid-area: 2 / 11 / 3 / 12;
}

#lamp-duri-live-pb {
  grid-area: 2 / 12 / 3 / 13;
}

#lamp-poml-live-note {
  grid-area: 2 / 13 / 3 / 14;
}

#lamp-poml-live-cc {
  grid-area: 2 / 14 / 3 / 15;
}

#lamp-poml-live-at {
  grid-area: 2 / 15 / 3 / 16;
}

#lamp-poml-live-pb {
  grid-area: 2 / 16 / 3 / 17;
}

#lamp-tiff-live-note {
  grid-area: 2 / 17 / 3 / 18;
}

#lamp-tiff-live-cc {
  grid-area: 2 / 18 / 3 / 19;
}

#lamp-tiff-live-at {
  grid-area: 2 / 19 / 3 / 20;
}

#lamp-tiff-live-pb {
  grid-area: 2 / 20 / 3 / 21;
}

#lamp-coco-live-note {
  grid-area: 2 / 21 / 3 / 22;
}

#lamp-coco-live-cc {
  grid-area: 2 / 22 / 3 / 23;
}

#lamp-coco-live-at {
  grid-area: 2 / 23 / 3 / 24;
}

#lamp-coco-live-pb {
  grid-area: 2 / 24 / 3 / 25;
}

#lamp-plum-live-note {
  grid-area: 2 / 25 / 3 / 26;
}

#lamp-plum-live-cc {
  grid-area: 2 / 26 / 3 / 27;
}

#lamp-plum-live-at {
  grid-area: 2 / 27 / 3 / 28;
}

#lamp-plum-live-pb {
  grid-area: 2 / 28 / 3 / 29;
}

#lamp-flam-live-note {
  grid-area: 2 / 29 / 3 / 30;
}

#lamp-flam-live-cc {
  grid-area: 2 / 30 / 3 / 31;
}

#lamp-flam-live-at {
  grid-area: 2 / 31 / 3 / 32;
}

#lamp-flam-live-pb {
  grid-area: 2 / 32 / 3 / 33;
}

/* row 3: Reason 1 slots */

#slot-fhyd-reason-1 {
  grid-area: 3 / 1 / 4 / 5;
}

#slot-tang-reason-1 {
  grid-area: 3 / 5 / 4 / 9;
}

#slot-duri-reason-1 {
  grid-area: 3 / 9 / 4 / 13;
}

#slot-poml-reason-1 {
  grid-area: 3 / 13 / 4 / 17;
}

#slot-tiff-reason-1 {
  grid-area: 3 / 17 / 4 / 21;
}

#slot-coco-reason-1 {
  grid-area: 3 / 21 / 4 / 25;
}

#slot-plum-reason-1 {
  grid-area: 3 / 25 / 4 / 29;
}

#slot-flam-reason-1 {
  grid-area: 3 / 29 / 4 / 33;
}

/* row 4: Reason 1 lamps */

#lamp-fhyd-reason-1-note {
  grid-area: 4 / 1 / 5 / 2;
}

#lamp-fhyd-reason-1-cc {
  grid-area: 4 / 2 / 5 / 3;
}

#lamp-fhyd-reason-1-at {
  grid-area: 4 / 3 / 5 / 4;
}
#lamp-fhyd-reason-1-pb {
  grid-area: 4 / 4 / 5 / 5;
}

#lamp-tang-reason-1-note {
  grid-area: 4 / 5 / 5 / 6;
}

#lamp-tang-reason-1-cc {
  grid-area: 4 / 6 / 5 / 7;
}

#lamp-tang-reason-1-at {
  grid-area: 4 / 7 / 5 / 8;
}

#lamp-tang-reason-1-pb {
  grid-area: 4 / 8 / 5 / 9;
}

#lamp-duri-reason-1-note {
  grid-area: 4 / 9 / 5 / 10;
}

#lamp-duri-reason-1-cc {
  grid-area: 4 / 10 / 5 / 11;
}

#lamp-duri-reason-1-at {
  grid-area: 4 / 11 / 5 / 12;
}

#lamp-duri-reason-1-pb {
  grid-area: 4 / 12 / 5 / 13;
}

#lamp-poml-reason-1-note {
  grid-area: 4 / 13 / 5 / 14;
}

#lamp-poml-reason-1-cc {
  grid-area: 4 / 14 / 5 / 15;
}

#lamp-poml-reason-1-at {
  grid-area: 4 / 15 / 5 / 16;
}

#lamp-poml-reason-1-pb {
  grid-area: 4 / 16 / 5 / 17;
}

#lamp-tiff-reason-1-note {
  grid-area: 4 / 17 / 5 / 18;
}

#lamp-tiff-reason-1-cc {
  grid-area: 4 / 18 / 5 / 19;
}

#lamp-tiff-reason-1-at {
  grid-area: 4 / 19 / 5 / 20;
}

#lamp-tiff-reason-1-pb {
  grid-area: 4 / 20 / 5 / 21;
}

#lamp-coco-reason-1-note {
  grid-area: 4 / 21 / 5 / 22;
}

#lamp-coco-reason-1-cc {
  grid-area: 4 / 22 / 5 / 23;
}

#lamp-coco-reason-1-at {
  grid-area: 4 / 23 / 5 / 24;
}

#lamp-coco-reason-1-pb {
  grid-area: 4 / 24 / 5 / 25;
}

#lamp-plum-reason-1-note {
  grid-area: 4 / 25 / 5 / 26;
}

#lamp-plum-reason-1-cc {
  grid-area: 4 / 26 / 5 / 27;
}

#lamp-plum-reason-1-at {
  grid-area: 4 / 27 / 5 / 28;
}

#lamp-plum-reason-1-pb {
  grid-area: 4 / 28 / 5 / 29;
}

#lamp-flam-reason-1-note {
  grid-area: 4 / 29 / 5 / 30;
}

#lamp-flam-reason-1-cc {
  grid-area: 4 / 30 / 5 / 31;
}

#lamp-flam-reason-1-at {
  grid-area: 4 / 31 / 5 / 32;
}

#lamp-flam-reason-1-pb {
  grid-area: 4 / 32 / 5 / 33;
}

/* row 5: Reason 2 slots */

#slot-fhyd-reason-2 {
  grid-area: 5 / 1 / 6 / 5;
}

#slot-tang-reason-2 {
  grid-area: 5 / 5 / 6 / 9;
}

#slot-duri-reason-2 {
  grid-area: 5 / 9 / 6 / 13;
}

#slot-poml-reason-2 {
  grid-area: 5 / 13 / 6 / 17;
}

#slot-tiff-reason-2 {
  grid-area: 5 / 17 / 6 / 21;
}

#slot-coco-reason-2 {
  grid-area: 5 / 21 / 6 / 25;
}

#slot-plum-reason-2 {
  grid-area: 5 / 25 / 6 / 29;
}

#slot-flam-reason-2 {
  grid-area: 5 / 29 / 6 / 33;
}

/* row 6: Reason 2 lamps */

#lamp-fhyd-reason-2-note {
  grid-area: 6 / 1 / 7 / 2;
}

#lamp-fhyd-reason-2-cc {
  grid-area: 6 / 2 / 7 / 3;
}

#lamp-fhyd-reason-2-at {
  grid-area: 6 / 3 / 7 / 4;
}
#lamp-fhyd-reason-2-pb {
  grid-area: 6 / 4 / 7 / 5;
}

#lamp-tang-reason-2-note {
  grid-area: 6 / 5 / 7 / 6;
}

#lamp-tang-reason-2-cc {
  grid-area: 6 / 6 / 7 / 7;
}

#lamp-tang-reason-2-at {
  grid-area: 6 / 7 / 7 / 8;
}

#lamp-tang-reason-2-pb {
  grid-area: 6 / 8 / 7 / 9;
}

#lamp-duri-reason-2-note {
  grid-area: 6 / 9 / 7 / 10;
}

#lamp-duri-reason-2-cc {
  grid-area: 6 / 10 / 7 / 11;
}

#lamp-duri-reason-2-at {
  grid-area: 6 / 11 / 7 / 12;
}

#lamp-duri-reason-2-pb {
  grid-area: 6 / 12 / 7 / 13;
}

#lamp-poml-reason-2-note {
  grid-area: 6 / 13 / 7 / 14;
}

#lamp-poml-reason-2-cc {
  grid-area: 6 / 14 / 7 / 15;
}

#lamp-poml-reason-2-at {
  grid-area: 6 / 15 / 7 / 16;
}

#lamp-poml-reason-2-pb {
  grid-area: 6 / 16 / 7 / 17;
}

#lamp-tiff-reason-2-note {
  grid-area: 6 / 17 / 7 / 18;
}

#lamp-tiff-reason-2-cc {
  grid-area: 6 / 18 / 7 / 19;
}

#lamp-tiff-reason-2-at {
  grid-area: 6 / 19 / 7 / 20;
}

#lamp-tiff-reason-2-pb {
  grid-area: 6 / 20 / 7 / 21;
}

#lamp-coco-reason-2-note {
  grid-area: 6 / 21 / 7 / 22;
}

#lamp-coco-reason-2-cc {
  grid-area: 6 / 22 / 7 / 23;
}

#lamp-coco-reason-2-at {
  grid-area: 6 / 23 / 7 / 24;
}

#lamp-coco-reason-2-pb {
  grid-area: 6 / 24 / 7 / 25;
}

#lamp-plum-reason-2-note {
  grid-area: 6 / 25 / 7 / 26;
}

#lamp-plum-reason-2-cc {
  grid-area: 6 / 26 / 7 / 27;
}

#lamp-plum-reason-2-at {
  grid-area: 6 / 27 / 7 / 28;
}

#lamp-plum-reason-2-pb {
  grid-area: 6 / 28 / 7 / 29;
}

#lamp-flam-reason-2-note {
  grid-area: 6 / 29 / 7 / 30;
}

#lamp-flam-reason-2-cc {
  grid-area: 6 / 30 / 7 / 31;
}

#lamp-flam-reason-2-at {
  grid-area: 6 / 31 / 7 / 32;
}

#lamp-flam-reason-2-pb {
  grid-area: 6 / 32 / 7 / 33;
}

/* row 7: Reason 3 slots */

#slot-fhyd-reason-3 {
  grid-area: 7 / 1 / 8 / 5;
}

#slot-tang-reason-3 {
  grid-area: 7 / 5 / 8 / 9;
}

#slot-duri-reason-3 {
  grid-area: 7 / 9 / 8 / 13;
}

#slot-poml-reason-3 {
  grid-area: 7 / 13 / 8 / 17;
}

#slot-tiff-reason-3 {
  grid-area: 7 / 17 / 8 / 21;
}

#slot-coco-reason-3 {
  grid-area: 7 / 21 / 8 / 25;
}

#slot-plum-reason-3 {
  grid-area: 7 / 25 / 8 / 29;
}

#slot-flam-reason-3 {
  grid-area: 7 / 29 / 8 / 33;
}

/* row 8: Reason 3 lamps */

#lamp-fhyd-reason-3-note {
  grid-area: 8 / 1 / 9 / 2;
}

#lamp-fhyd-reason-3-cc {
  grid-area: 8 / 2 / 9 / 3;
}

#lamp-fhyd-reason-3-at {
  grid-area: 8 / 3 / 9 / 4;
}
#lamp-fhyd-reason-3-pb {
  grid-area: 8 / 4 / 9 / 5;
}

#lamp-tang-reason-3-note {
  grid-area: 8 / 5 / 9 / 6;
}

#lamp-tang-reason-3-cc {
  grid-area: 8 / 6 / 9 / 7;
}

#lamp-tang-reason-3-at {
  grid-area: 8 / 7 / 9 / 8;
}

#lamp-tang-reason-3-pb {
  grid-area: 8 / 8 / 9 / 9;
}

#lamp-duri-reason-3-note {
  grid-area: 8 / 9 / 9 / 10;
}

#lamp-duri-reason-3-cc {
  grid-area: 8 / 10 / 9 / 11;
}

#lamp-duri-reason-3-at {
  grid-area: 8 / 11 / 9 / 12;
}

#lamp-duri-reason-3-pb {
  grid-area: 8 / 12 / 9 / 13;
}

#lamp-poml-reason-3-note {
  grid-area: 8 / 13 / 9 / 14;
}

#lamp-poml-reason-3-cc {
  grid-area: 8 / 14 / 9 / 15;
}

#lamp-poml-reason-3-at {
  grid-area: 8 / 15 / 9 / 16;
}

#lamp-poml-reason-3-pb {
  grid-area: 8 / 16 / 9 / 17;
}

#lamp-tiff-reason-3-note {
  grid-area: 8 / 17 / 9 / 18;
}

#lamp-tiff-reason-3-cc {
  grid-area: 8 / 18 / 9 / 19;
}

#lamp-tiff-reason-3-at {
  grid-area: 8 / 19 / 9 / 20;
}

#lamp-tiff-reason-3-pb {
  grid-area: 8 / 20 / 9 / 21;
}

#lamp-coco-reason-3-note {
  grid-area: 8 / 21 / 9 / 22;
}

#lamp-coco-reason-3-cc {
  grid-area: 8 / 22 / 9 / 23;
}

#lamp-coco-reason-3-at {
  grid-area: 8 / 23 / 9 / 24;
}

#lamp-coco-reason-3-pb {
  grid-area: 8 / 24 / 9 / 25;
}

#lamp-plum-reason-3-note {
  grid-area: 8 / 25 / 9 / 26;
}

#lamp-plum-reason-3-cc {
  grid-area: 8 / 26 / 9 / 27;
}

#lamp-plum-reason-3-at {
  grid-area: 8 / 27 / 9 / 28;
}

#lamp-plum-reason-3-pb {
  grid-area: 8 / 28 / 9 / 29;
}

#lamp-flam-reason-3-note {
  grid-area: 8 / 29 / 9 / 30;
}

#lamp-flam-reason-3-cc {
  grid-area: 8 / 30 / 9 / 31;
}

#lamp-flam-reason-3-at {
  grid-area: 8 / 31 / 9 / 32;
}

#lamp-flam-reason-3-pb {
  grid-area: 8 / 32 / 9 / 33;
}

/* row 9: Reason 4 slots */

#slot-fhyd-reason-4 {
  grid-area: 9 / 1 / 10 / 5;
}

#slot-tang-reason-4 {
  grid-area: 9 / 5 / 10 / 9;
}

#slot-duri-reason-4 {
  grid-area: 9 / 9 / 10 / 13;
}

#slot-poml-reason-4 {
  grid-area: 9 / 13 / 10 / 17;
}

#slot-tiff-reason-4 {
  grid-area: 9 / 17 / 10 / 21;
}

#slot-coco-reason-4 {
  grid-area: 9 / 21 / 10 / 25;
}

#slot-plum-reason-4 {
  grid-area: 9 / 25 / 10 / 29;
}

#slot-flam-reason-4 {
  grid-area: 9 / 29 / 10 / 33;
}

/* row 10: Reason 4 lamps */

#lamp-fhyd-reason-4-note {
  grid-area: 10 / 1 / 11 / 2;
}

#lamp-fhyd-reason-4-cc {
  grid-area: 10 / 2 / 11 / 3;
}

#lamp-fhyd-reason-4-at {
  grid-area: 10 / 3 / 11 / 4;
}
#lamp-fhyd-reason-4-pb {
  grid-area: 10 / 4 / 11 / 5;
}

#lamp-tang-reason-4-note {
  grid-area: 10 / 5 / 11 / 6;
}

#lamp-tang-reason-4-cc {
  grid-area: 10 / 6 / 11 / 7;
}

#lamp-tang-reason-4-at {
  grid-area: 10 / 7 / 11 / 8;
}

#lamp-tang-reason-4-pb {
  grid-area: 10 / 8 / 11 / 9;
}

#lamp-duri-reason-4-note {
  grid-area: 10 / 9 / 11 / 10;
}

#lamp-duri-reason-4-cc {
  grid-area: 10 / 10 / 11 / 11;
}

#lamp-duri-reason-4-at {
  grid-area: 10 / 11 / 11 / 12;
}

#lamp-duri-reason-4-pb {
  grid-area: 10 / 12 / 11 / 13;
}

#lamp-poml-reason-4-note {
  grid-area: 10 / 13 / 11 / 14;
}

#lamp-poml-reason-4-cc {
  grid-area: 10 / 14 / 11 / 15;
}

#lamp-poml-reason-4-at {
  grid-area: 10 / 15 / 11 / 16;
}

#lamp-poml-reason-4-pb {
  grid-area: 10 / 16 / 11 / 17;
}

#lamp-tiff-reason-4-note {
  grid-area: 10 / 17 / 11 / 18;
}

#lamp-tiff-reason-4-cc {
  grid-area: 10 / 18 / 11 / 19;
}

#lamp-tiff-reason-4-at {
  grid-area: 10 / 19 / 11 / 20;
}

#lamp-tiff-reason-4-pb {
  grid-area: 10 / 20 / 11 / 21;
}

#lamp-coco-reason-4-note {
  grid-area: 10 / 21 / 11 / 22;
}

#lamp-coco-reason-4-cc {
  grid-area: 10 / 22 / 11 / 23;
}

#lamp-coco-reason-4-at {
  grid-area: 10 / 23 / 11 / 24;
}

#lamp-coco-reason-4-pb {
  grid-area: 10 / 24 / 11 / 25;
}

#lamp-plum-reason-4-note {
  grid-area: 10 / 25 / 11 / 26;
}

#lamp-plum-reason-4-cc {
  grid-area: 10 / 26 / 11 / 27;
}

#lamp-plum-reason-4-at {
  grid-area: 10 / 27 / 11 / 28;
}

#lamp-plum-reason-4-pb {
  grid-area: 10 / 28 / 11 / 29;
}

#lamp-flam-reason-4-note {
  grid-area: 10 / 29 / 11 / 30;
}

#lamp-flam-reason-4-cc {
  grid-area: 10 / 30 / 11 / 31;
}

#lamp-flam-reason-4-at {
  grid-area: 10 / 31 / 11 / 32;
}

#lamp-flam-reason-4-pb {
  grid-area: 10 / 32 / 11 / 33;
}

/* row 11: Reason 5 slots */

#slot-fhyd-reason-5 {
  grid-area: 11 / 1 / 12 / 5;
}

#slot-tang-reason-5 {
  grid-area: 11 / 5 / 12 / 9;
}

#slot-duri-reason-5 {
  grid-area: 11 / 9 / 12 / 13;
}

#slot-poml-reason-5 {
  grid-area: 11 / 13 / 12 / 17;
}

#slot-tiff-reason-5 {
  grid-area: 11 / 17 / 12 / 21;
}

#slot-coco-reason-5 {
  grid-area: 11 / 21 / 12 / 25;
}

#slot-plum-reason-5 {
  grid-area: 11 / 25 / 12 / 29;
}

#slot-flam-reason-5 {
  grid-area: 11 / 29 / 12 / 33;
}

/* row 12: Reason 5 lamps */

#lamp-fhyd-reason-5-note {
  grid-area: 12 / 1 / 13 / 2;
}

#lamp-fhyd-reason-5-cc {
  grid-area: 12 / 2 / 13 / 3;
}

#lamp-fhyd-reason-5-at {
  grid-area: 12 / 3 / 13 / 4;
}
#lamp-fhyd-reason-5-pb {
  grid-area: 12 / 4 / 13 / 5;
}

#lamp-tang-reason-5-note {
  grid-area: 12 / 5 / 13 / 6;
}

#lamp-tang-reason-5-cc {
  grid-area: 12 / 6 / 13 / 7;
}

#lamp-tang-reason-5-at {
  grid-area: 12 / 7 / 13 / 8;
}

#lamp-tang-reason-5-pb {
  grid-area: 12 / 8 / 13 / 9;
}

#lamp-duri-reason-5-note {
  grid-area: 12 / 9 / 13 / 10;
}

#lamp-duri-reason-5-cc {
  grid-area: 12 / 10 / 13 / 11;
}

#lamp-duri-reason-5-at {
  grid-area: 12 / 11 / 13 / 12;
}

#lamp-duri-reason-5-pb {
  grid-area: 12 / 12 / 13 / 13;
}

#lamp-poml-reason-5-note {
  grid-area: 12 / 13 / 13 / 14;
}

#lamp-poml-reason-5-cc {
  grid-area: 12 / 14 / 13 / 15;
}

#lamp-poml-reason-5-at {
  grid-area: 12 / 15 / 13 / 16;
}

#lamp-poml-reason-5-pb {
  grid-area: 12 / 16 / 13 / 17;
}

#lamp-tiff-reason-5-note {
  grid-area: 12 / 17 / 13 / 18;
}

#lamp-tiff-reason-5-cc {
  grid-area: 12 / 18 / 13 / 19;
}

#lamp-tiff-reason-5-at {
  grid-area: 12 / 19 / 13 / 20;
}

#lamp-tiff-reason-5-pb {
  grid-area: 12 / 20 / 13 / 21;
}

#lamp-coco-reason-5-note {
  grid-area: 12 / 21 / 13 / 22;
}

#lamp-coco-reason-5-cc {
  grid-area: 12 / 22 / 13 / 23;
}

#lamp-coco-reason-5-at {
  grid-area: 12 / 23 / 13 / 24;
}

#lamp-coco-reason-5-pb {
  grid-area: 12 / 24 / 13 / 25;
}

#lamp-plum-reason-5-note {
  grid-area: 12 / 25 / 13 / 26;
}

#lamp-plum-reason-5-cc {
  grid-area: 12 / 26 / 13 / 27;
}

#lamp-plum-reason-5-at {
  grid-area: 12 / 27 / 13 / 28;
}

#lamp-plum-reason-5-pb {
  grid-area: 12 / 28 / 13 / 29;
}

#lamp-flam-reason-5-note {
  grid-area: 12 / 29 / 13 / 30;
}

#lamp-flam-reason-5-cc {
  grid-area: 12 / 30 / 13 / 31;
}

#lamp-flam-reason-5-at {
  grid-area: 12 / 31 / 13 / 32;
}

#lamp-flam-reason-5-pb {
  grid-area: 12 / 32 / 13 / 33;
}

/* row 13: Reason 6 slots */

#slot-fhyd-reason-6 {
  grid-area: 13 / 1 / 14 / 5;
}

#slot-tang-reason-6 {
  grid-area: 13 / 5 / 14 / 9;
}

#slot-duri-reason-6 {
  grid-area: 13 / 9 / 14 / 13;
}

#slot-poml-reason-6 {
  grid-area: 13 / 13 / 14 / 17;
}

#slot-tiff-reason-6 {
  grid-area: 13 / 17 / 14 / 21;
}

#slot-coco-reason-6 {
  grid-area: 13 / 21 / 14 / 25;
}

#slot-plum-reason-6 {
  grid-area: 13 / 25 / 14 / 29;
}

#slot-flam-reason-6 {
  grid-area: 13 / 29 / 14 / 33;
}

/* row 14: Reason 6 lamps */

#lamp-fhyd-reason-6-note {
  grid-area: 14 / 1 / 15 / 2;
}

#lamp-fhyd-reason-6-cc {
  grid-area: 14 / 2 / 15 / 3;
}

#lamp-fhyd-reason-6-at {
  grid-area: 14 / 3 / 15 / 4;
}
#lamp-fhyd-reason-6-pb {
  grid-area: 14 / 4 / 15 / 5;
}

#lamp-tang-reason-6-note {
  grid-area: 14 / 5 / 15 / 6;
}

#lamp-tang-reason-6-cc {
  grid-area: 14 / 6 / 15 / 7;
}

#lamp-tang-reason-6-at {
  grid-area: 14 / 7 / 15 / 8;
}

#lamp-tang-reason-6-pb {
  grid-area: 14 / 8 / 15 / 9;
}

#lamp-duri-reason-6-note {
  grid-area: 14 / 9 / 15 / 10;
}

#lamp-duri-reason-6-cc {
  grid-area: 14 / 10 / 15 / 11;
}

#lamp-duri-reason-6-at {
  grid-area: 14 / 11 / 15 / 12;
}

#lamp-duri-reason-6-pb {
  grid-area: 14 / 12 / 15 / 13;
}

#lamp-poml-reason-6-note {
  grid-area: 14 / 13 / 15 / 14;
}

#lamp-poml-reason-6-cc {
  grid-area: 14 / 14 / 15 / 15;
}

#lamp-poml-reason-6-at {
  grid-area: 14 / 15 / 15 / 16;
}

#lamp-poml-reason-6-pb {
  grid-area: 14 / 16 / 15 / 17;
}

#lamp-tiff-reason-6-note {
  grid-area: 14 / 17 / 15 / 18;
}

#lamp-tiff-reason-6-cc {
  grid-area: 14 / 18 / 15 / 19;
}

#lamp-tiff-reason-6-at {
  grid-area: 14 / 19 / 15 / 20;
}

#lamp-tiff-reason-6-pb {
  grid-area: 14 / 20 / 15 / 21;
}

#lamp-coco-reason-6-note {
  grid-area: 14 / 21 / 15 / 22;
}

#lamp-coco-reason-6-cc {
  grid-area: 14 / 22 / 15 / 23;
}

#lamp-coco-reason-6-at {
  grid-area: 14 / 23 / 15 / 24;
}

#lamp-coco-reason-6-pb {
  grid-area: 14 / 24 / 15 / 25;
}

#lamp-plum-reason-6-note {
  grid-area: 14 / 25 / 15 / 26;
}

#lamp-plum-reason-6-cc {
  grid-area: 14 / 26 / 15 / 27;
}

#lamp-plum-reason-6-at {
  grid-area: 14 / 27 / 15 / 28;
}

#lamp-plum-reason-6-pb {
  grid-area: 14 / 28 / 15 / 29;
}

#lamp-flam-reason-6-note {
  grid-area: 14 / 29 / 15 / 30;
}

#lamp-flam-reason-6-cc {
  grid-area: 14 / 30 / 15 / 31;
}

#lamp-flam-reason-6-at {
  grid-area: 14 / 31 / 15 / 32;
}

#lamp-flam-reason-6-pb {
  grid-area: 14 / 32 / 15 / 33;
}

/* row 15: Reason 7 slots */

#slot-fhyd-reason-7 {
  grid-area: 15 / 1 / 16 / 5;
}

#slot-tang-reason-7 {
  grid-area: 15 / 5 / 16 / 9;
}

#slot-duri-reason-7 {
  grid-area: 15 / 9 / 16 / 13;
}

#slot-poml-reason-7 {
  grid-area: 15 / 13 / 16 / 17;
}

#slot-tiff-reason-7 {
  grid-area: 15 / 17 / 16 / 21;
}

#slot-coco-reason-7 {
  grid-area: 15 / 21 / 16 / 25;
}

#slot-plum-reason-7 {
  grid-area: 15 / 25 / 16 / 29;
}

#slot-flam-reason-7 {
  grid-area: 15 / 29 / 16 / 33;
}

/* row 16: Reason 7 lamps */

#lamp-fhyd-reason-7-note {
  grid-area: 16 / 1 / 17 / 2;
}

#lamp-fhyd-reason-7-cc {
  grid-area: 16 / 2 / 17 / 3;
}

#lamp-fhyd-reason-7-at {
  grid-area: 16 / 3 / 17 / 4;
}
#lamp-fhyd-reason-7-pb {
  grid-area: 16 / 4 / 17 / 5;
}

#lamp-tang-reason-7-note {
  grid-area: 16 / 5 / 17 / 6;
}

#lamp-tang-reason-7-cc {
  grid-area: 16 / 6 / 17 / 7;
}

#lamp-tang-reason-7-at {
  grid-area: 16 / 7 / 17 / 8;
}

#lamp-tang-reason-7-pb {
  grid-area: 16 / 8 / 17 / 9;
}

#lamp-duri-reason-7-note {
  grid-area: 16 / 9 / 17 / 10;
}

#lamp-duri-reason-7-cc {
  grid-area: 16 / 10 / 17 / 11;
}

#lamp-duri-reason-7-at {
  grid-area: 16 / 11 / 17 / 12;
}

#lamp-duri-reason-7-pb {
  grid-area: 16 / 12 / 17 / 13;
}

#lamp-poml-reason-7-note {
  grid-area: 16 / 13 / 17 / 14;
}

#lamp-poml-reason-7-cc {
  grid-area: 16 / 14 / 17 / 15;
}

#lamp-poml-reason-7-at {
  grid-area: 16 / 15 / 17 / 16;
}

#lamp-poml-reason-7-pb {
  grid-area: 16 / 16 / 17 / 17;
}

#lamp-tiff-reason-7-note {
  grid-area: 16 / 17 / 17 / 18;
}

#lamp-tiff-reason-7-cc {
  grid-area: 16 / 18 / 17 / 19;
}

#lamp-tiff-reason-7-at {
  grid-area: 16 / 19 / 17 / 20;
}

#lamp-tiff-reason-7-pb {
  grid-area: 16 / 20 / 17 / 21;
}

#lamp-coco-reason-7-note {
  grid-area: 16 / 21 / 17 / 22;
}

#lamp-coco-reason-7-cc {
  grid-area: 16 / 22 / 17 / 23;
}

#lamp-coco-reason-7-at {
  grid-area: 16 / 23 / 17 / 24;
}

#lamp-coco-reason-7-pb {
  grid-area: 16 / 24 / 17 / 25;
}

#lamp-plum-reason-7-note {
  grid-area: 16 / 25 / 17 / 26;
}

#lamp-plum-reason-7-cc {
  grid-area: 16 / 26 / 17 / 27;
}

#lamp-plum-reason-7-at {
  grid-area: 16 / 27 / 17 / 28;
}

#lamp-plum-reason-7-pb {
  grid-area: 16 / 28 / 17 / 29;
}

#lamp-flam-reason-7-note {
  grid-area: 16 / 29 / 17 / 30;
}

#lamp-flam-reason-7-cc {
  grid-area: 16 / 30 / 17 / 31;
}

#lamp-flam-reason-7-at {
  grid-area: 16 / 31 / 17 / 32;
}

#lamp-flam-reason-7-pb {
  grid-area: 16 / 32 / 17 / 33;
}

/* row 17: Reason 8 slots */

#slot-fhyd-reason-8 {
  grid-area: 17 / 1 / 18 / 5;
}

#slot-tang-reason-8 {
  grid-area: 17 / 5 / 18 / 9;
}

#slot-duri-reason-8 {
  grid-area: 17 / 9 / 18 / 13;
}

#slot-poml-reason-8 {
  grid-area: 17 / 13 / 18 / 17;
}

#slot-tiff-reason-8 {
  grid-area: 17 / 17 / 18 / 21;
}

#slot-coco-reason-8 {
  grid-area: 17 / 21 / 18 / 25;
}

#slot-plum-reason-8 {
  grid-area: 17 / 25 / 18 / 29;
}

#slot-flam-reason-8 {
  grid-area: 17 / 29 / 18 / 33;
}

/* row 18: Reason 8 lamps */

#lamp-fhyd-reason-8-note {
  grid-area: 18 / 1 / 19 / 2;
}

#lamp-fhyd-reason-8-cc {
  grid-area: 18 / 2 / 19 / 3;
}

#lamp-fhyd-reason-8-at {
  grid-area: 18 / 3 / 19 / 4;
}
#lamp-fhyd-reason-8-pb {
  grid-area: 18 / 4 / 19 / 5;
}

#lamp-tang-reason-8-note {
  grid-area: 18 / 5 / 19 / 6;
}

#lamp-tang-reason-8-cc {
  grid-area: 18 / 6 / 19 / 7;
}

#lamp-tang-reason-8-at {
  grid-area: 18 / 7 / 19 / 8;
}

#lamp-tang-reason-8-pb {
  grid-area: 18 / 8 / 19 / 9;
}

#lamp-duri-reason-8-note {
  grid-area: 18 / 9 / 19 / 10;
}

#lamp-duri-reason-8-cc {
  grid-area: 18 / 10 / 19 / 11;
}

#lamp-duri-reason-8-at {
  grid-area: 18 / 11 / 19 / 12;
}

#lamp-duri-reason-8-pb {
  grid-area: 18 / 12 / 19 / 13;
}

#lamp-poml-reason-8-note {
  grid-area: 18 / 13 / 19 / 14;
}

#lamp-poml-reason-8-cc {
  grid-area: 18 / 14 / 19 / 15;
}

#lamp-poml-reason-8-at {
  grid-area: 18 / 15 / 19 / 16;
}

#lamp-poml-reason-8-pb {
  grid-area: 18 / 16 / 19 / 17;
}

#lamp-tiff-reason-8-note {
  grid-area: 18 / 17 / 19 / 18;
}

#lamp-tiff-reason-8-cc {
  grid-area: 18 / 18 / 19 / 19;
}

#lamp-tiff-reason-8-at {
  grid-area: 18 / 19 / 19 / 20;
}

#lamp-tiff-reason-8-pb {
  grid-area: 18 / 20 / 19 / 21;
}

#lamp-coco-reason-8-note {
  grid-area: 18 / 21 / 19 / 22;
}

#lamp-coco-reason-8-cc {
  grid-area: 18 / 22 / 19 / 23;
}

#lamp-coco-reason-8-at {
  grid-area: 18 / 23 / 19 / 24;
}

#lamp-coco-reason-8-pb {
  grid-area: 18 / 24 / 19 / 25;
}

#lamp-plum-reason-8-note {
  grid-area: 18 / 25 / 19 / 26;
}

#lamp-plum-reason-8-cc {
  grid-area: 18 / 26 / 19 / 27;
}

#lamp-plum-reason-8-at {
  grid-area: 18 / 27 / 19 / 28;
}

#lamp-plum-reason-8-pb {
  grid-area: 18 / 28 / 19 / 29;
}

#lamp-flam-reason-8-note {
  grid-area: 18 / 29 / 19 / 30;
}

#lamp-flam-reason-8-cc {
  grid-area: 18 / 30 / 19 / 31;
}

#lamp-flam-reason-8-at {
  grid-area: 18 / 31 / 19 / 32;
}

#lamp-flam-reason-8-pb {
  grid-area: 18 / 32 / 19 / 33;
}
